@import 'tailwindcss';
@plugin "daisyui";
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-raleway);
}
body,
p,
a,
span {
  font-family: var(--font-rajdhani);
}

.zIndex_sticky {
  z-index: 1000px;
}

.btn:where(input:checked:not(.filter .btn)) {
  --btn-color: #d6a74e !important;
}

.tab {
  color: black !important;
  font-size: 12px !important;
  text-transform: uppercase;
  font-weight: 600;
}

.tabs-lift > .tab:is(input:checked, label:has(:checked)) {
  background-color: black;
  color: white !important;

  border-radius: 5px 5px 0px 0px !important;
}

.tabs-lift > .tab {
  background-color: rgb(255, 255, 255);
  border-radius: 0;
  border: none !important;
}
