@import 'tailwindcss';
@plugin "daisyui";
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-raleway);
}
body,
p,
a,
span {
  font-family: var(--font-rajdhani);
}

.zIndex_sticky {
  z-index: 1000px;
}

.btn:where(input:checked:not(.filter .btn)) {
  --btn-color: #d6a74e !important;
}

.tab {
  color: black !important;
  font-size: 12px !important;
  text-transform: uppercase;
  font-weight: 600;
}

.tabs-lift > .tab:is(input:checked, label:has(:checked)) {
  background-color: black;
  color: white !important;

  border-radius: 5px 5px 0px 0px !important;
}

.tabs-lift > .tab {
  background-color: rgb(255, 255, 255);
  border-radius: 0;
  border: none !important;
}

.dropdown_class {
  transition: transform .4s ;
}

.dropdown_class:hover > ul {
  display: block!important;
}

.dropdown_parent {
  transition: transform .4s ease-in;
}
.dropdown_parent:hover .dropdown_arrow {
  transform: rotate(180deg);
}

.dropdown_parent {
  transition: transform .4s ease-in;
}

.dropdown_class .dropdown_arrow_right {
  transition: transform .4s ease-in;
} 


.dropdown_class:hover .dropdown_arrow_right {
  transform: rotate(180deg);
}


dialog {
  position: fixed;   /* stays in place */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  margin: 0;
  border: none;
  border-radius: 10px;
  padding: 20px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5); /* smooth dark overlay */
}


.fade-out {
  opacity: 0;
  transform: scale(0.95);
  transition: all 0.3s ease;
}



